@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Happy+Monkey");

/**
This file contains the general and shared style of your application.
 */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, #AA9E5E 0%, rgba(255, 255, 255, 0) 100%), #E8DFB4;
}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

select {
  width: 30%;
  height: 80%;
  font-size: 40px;
  background-color: rgba(203,189,140,0.54);
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border-width: 0;
  text-align-last: center;
}

button {
  font-family: "Happy Monkey", sans-serif;
  line-height: inherit;
  font-size: inherit;
  outline: none;
  background: #BDAF7E;
  mix-blend-mode: normal;
  border-radius: 10px;
}

/* This code makes sure that the JustOneLogo is in the center horizontally. */
.center {
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -135px;
}

.easterEggGIF {
  z-index: 2;
  width: 100%;
}

title {
  margin: 0;
  padding: 0;
  font-family: "Happy Monkey", sans-serif;
  text-align: center;
  background: #0e3d61;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
